body{
    background-color: azure;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}
/* header section */
.header{
    max-width: 375px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.8rem 1.5rem 0 1.5rem;
}
.button , .button2 {
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 37, 66, 1);
    background-color: rgba(232, 239, 242, 1);
}
/* first section */
.first-section{
    margin: 4rem 1.5rem 2.3rem;
    max-width: 327px;
}
h1{
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: rgba(22, 37, 66, 1);
    margin-bottom: 2rem;
}
.first-section-p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    margin-bottom: 2rem;
}
.div-1{
    display: flex;
    justify-content: first baseline;
    align-items: center;
}
.button2{
    background-color: rgba(241, 103, 24, 1);
    color: rgba(255, 255, 255, 1);
    margin-right: 2rem;
}
/* second section */
.image-pad{
    background-image: url("../image/mobile/mobile-3.jpg");
    height: 331px;
    overflow: hidden;
    max-width: 372px;
    background-repeat: no-repeat;
    background-size: 372px;
    border-radius: 1.3rem 0 0 1.3rem;
    left: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}
.image-main-div{
    display: flex;
}
.image-div2{
    background-image: url("../image/mobile/mobile-2.jpg");
    height: 193px;
    width:144px ;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(241, 103, 24, 1);
    opacity: 0.75;
    background-size: 144px;
    margin-right: 1.5rem;
    border-radius: 1.3rem ;
    position: relative;
    left:  -1rem;
    display: inline-block;
}
.image-div3{
    background-image: url("../image/mobile/mobile-1.jpg");
    background-repeat: no-repeat;
    background-size: 220px;
    width: 220px;
    height: 193px;
    border-radius: 1.3rem;
    

}
/* next section */
.next-div{
    max-width: 327px;
    margin: 2rem 1.5rem 9rem 1.5rem;
}
.next-h2{
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: rgba(22, 37, 66, 1);
}
.next-p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(123, 139, 173, 1);
}
/* third section */
.box{
    width: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box img {
    margin-bottom: 3rem;
}
.box h2 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(22, 37, 66, 1);
    margin-bottom: 1.5rem;
}
.box p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 4rem;
}
/* footer section */
footer{
    /* max-width: 375px; */
    width: 100%;
    text-align: center;
    margin-bottom: 3.2rem;
}
/* tablet version xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media screen and (min-width: 375px) {
    .header{
        max-width: 768px;
        width: 100%;

    }
    .button {
        width: 11rem; 
    }
    .button2{
        width: 11rem;
    }
    .divi{
        width: 768px;
        display: flex;
        justify-content: baseline;
        margin-top: 4rem;
    }
    .image-pad{
        width: 100%;
        margin-left: 4.3;
        height: 425px;
    }
    /* second section */
    .image-div2{
        height: 320px;
        width: 214px;
        background-size: 214px;
        margin-left: 2.5rem;
        background-position: center;
    }
    .image-div3{
        width: 445px;
        height: 320px;
        background-size: 445px;
        background-position: center;
    }
    /* next section */
    .next-div{
        max-width: 768px;
        display: flex;
        margin: 5.5rem 3.6 9rem 3.5rem;

    }
    .next-h2{
        width: 255px;
        text-align: start;
    }
    .next-p{
        width: 398px;
    }
}